<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <style>
        #patients {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: fit-content;
        }
        
        #patients td,
        #patients th {
            border: 1px solid #ddd;
            padding: 8px;
        }
        
        #patients tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        
        #patients tr:hover {
            background-color: #ddd;
        }
        
        #patients th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #04AA6D;
            color: white;
        }
        
        td {
            text-align: center;
        }
        
        td a {
            margin-right: 10px;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>

<body>