<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/add-patient" method="post">
        <label for="name">name: </label>
        <% if(!data.isFound) {%>
            <input type="text" name="name" value="<%= data.nameValue %>"><br><br>
            <% } else {%>
                <input type="text" name="name" disabled><br><br>
                <% } %>
                    <label for="yearOfBirth">yearOfBirth: </label>
                    <input type="text" name="yearOfBirth" <%=data.isFound ? 'disabled' : '' %> required><br><br>

                    <label for="status ">status: </label>
                    <input type="text" name="status" <%=data.isFound ? 'disabled' : '' %> required><br><br>

                    <label for="currentlat ">currentlat: </label>
                    <input type="text" name="lat" required><br><br>

                    <label for="currentlong">currentlong: </label>
                    <input type="text" name="long" required><br><br>

                    <label for="detailAddress ">detailAddress: </label>
                    <input type="text" name="detailAddress" required><br><br>

                    <label for="district ">district: </label>
                    <input type="text" name="district" required><br><br>

                    <input type="submit" value="Submit">
    </form>

</body>

</html>