<%- include('patials/adminheader') %>
    <a href="/patient-list-update" class="btn btn-add my-3">Quay lại</a>
    <h3>
        Thêm địa chỉ đã từng đến cho bệnh nhân
    </h3>
    <hr>
    <form action="/add-event/?name=<%= data.nameValue%>" method="post" style="margin-left: 30%;">

        <label for="name">Tên: </label>
        <input type="text" name="name" value="<%= data.name%>"><br><br>
        <label for="time">Thời gian bệnh nhân đã đến:</label>
        <input type="datetime-local" id="time" name="time" min="2021-01-01T00:00" max="2021-07-01T00:00">

        <br>
        <label for="latEvent">Tọa độ lat: </label>
        <input type="text" name="latEvent" required id="latEvent"><br><br>

        <label for="longEvent">Tọa độ long: </label>
        <input type="text" name="longEvent" required id="longEvent"><br><br>

        <label for="addressEvent">Chi tiết địa chỉ: </label>
        <input id="test" type="text" name="addressEvent" required><br><br>

        <label for="districtEvent">Quận đã đến: </label>
        <input type="text" name="districtEvent" required id="districtEvent"><br><br>

        <input type="submit" value="Submit">

        <p id="values"></p>

    </form>
    <%- include('patials/adminfooter') %>