<%- include('patials/adminheader') %>

    <form action="/get-detail-patient" method="post">
        <label for="name">Tên: </label>
        <input type="text" id="fname" name="name"><br><br>
        <input type="submit" value="Submit">
    </form>
    <%- include('patials/adminfooter') %>