<%- include('patials/adminheader') %>
    <a href="/patient-list-update" class="btn btn-add my-3">Quay lại</a>
    <!-- <h3>Nhập tên bệnh nhân muốn thêm</h3> -->
    <hr>
    <form action="/get-patient" method="post" class="ml-auto">
        <label for="name">Tên bệnh nhân: </label>
        <input type="text" id="fname" name="name"><br><br>
        <input type="submit" value="Thêm bệnh nhân">
    </form>
    <%- include('patials/adminfooter') %>