<%- include('patials/header') %>
    <form action="/get-patient" method="post">
        <label for="name">Tên: </label>
        <input type="text" id="fname" name="name"><br><br>
        <input type="submit" value="Tìm kiếm!">
    </form>
    <%- include('patials/footer') %>