<%- include('patials/adminheader') %>
    <a href="/patient-list-update" class="btn btn-add my-3">Quay lại</a>
    <h3>
        Cập nhật thông tin bệnh nhân:
        <i><%= name %></i>
    </h3>
    <hr>
    <h5 class="text-center mb-5"><i>(Muốn cập nhật thông tin nào thì điền thông tin đó)</i></h5>

    <form action="/update-patient/?_method=PATCH&id=<%= id %>" method="POST">
        <label for="name">Tên: </label>
        <input type="text" name="name"><br><br>

        <label for="yearOfBirth">Năm sinh: </label>
        <input type="text" name="yearOfBirth"><br><br>

        <label for="status">Thời gian công bố mắc bệnh: </label>
        <input type="datetime-local" id="time" name="accTime" min="2021-01-01T00:00" max="2021-07-01T00:00"><br><br>

        <label for="currentlat">Tọa độ lat hiện tại: </label>
        <input type="text" name="lat" id="latEvent"><br><br>

        <label for="currentlong">Tọa độ long hiện tại: </label>
        <input type="text" name="long" id="longEvent"><br><br>

        <label for="detailAddress">Địa chỉ chi tiết: </label>
        <input type="text" name="detailAddress" id="test"><br><br>

        <label for="district">Quận: </label>
        <input type="text" name="district" id="districtEvent"><br><br>

        <input type="submit" value="Submit">

    </form>
    <%- include('patials/adminfooter') %>