<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>updated this patient</p>
    <p>You wanna update another patient ?</p>
    <a href="/update-patient">yes please</a>
    <br>
    <a href="/get-patient">no thanks, take me to /get-patient</a>
</body>

</html>