<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>ArcGIS JavaScript Tutorials: Create a Starter App</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://js.arcgis.com/4.15/esri/themes/light/main.css">
    <script src="https://js.arcgis.com/4.15/"></script>

    <script src="../script/location.js"></script>

</head>

<body>
    <div id="viewDiv" style="position: relative;">

        <div style="position: absolute; top: 5px; right: 5px;">
            <div class="info-city mb-3">
                <h5>Thành phố Hồ Chí Minh</h5>
                <div>
                    <ul>
                        <li class="row">
                            <div class="col-lg-7">Tổng số ca</div>
                            <div class="col-lg-3">2184</div>
                        </li>
                        <li class="row">
                            <div class="col-lg-7">Hiện tại</div>
                            <div class="col-lg-3">1866</div>
                        </li>
                        <li class="row">
                            <div class="col-lg-7">Hồi phục</div>
                            <div class="col-lg-3">315</div>
                        </li>
                        <li class="row">
                            <div class="col-lg-7">Tử vong</div>
                            <div class="col-lg-3">3</div>
                        </li>

                    </ul>
                    <!-- <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>Tổng số ca nhiễm</td>
                                <td>2184</td>
                            </tr>
                            <tr>
                                <td>Tổng số ca nhiễm</td>
                                <td>2184</td>
                            </tr>
                            <tr>
                                <td>Tổng số ca nhiễm</td>
                                <td>2184</td>
                            </tr>
                            <tr>
                                <td>Tổng số ca nhiễm</td>
                                <td>2184</td>
                            </tr>
                        </tbody>
                    </table> -->

                </div>
            </div>
            <div class="district-format mb-3">
                <h5>Chọn quận, huyện để xem chi tiết</h5>
                <select class="form-select">
                <option selected>Tất cả</option>
                <option value="1">Quận 1</option>
                <option value="2">Quận 2</option>
                <option value="3">Quận 3</option>
                <option value="4">Quận 4</option>
                <option value="5">Quận 5</option>
                <option value="6">Quận 6</option>
                <option value="7">Quận 7</option>
                <option value="8">Quận 8</option>
                <option value="9">Quận 9</option>
                <option value="10">Quận 10</option>
                <option value="11">Quận 11</option>
                <option value="12">Quận 12</option>
                <option value="13">Quận Bình Thạnh</option>
                <option value="14">Quận Tân Phú</option>
                <option value="15">Quận Thủ Đức</option>
                <option value="16">Huyện Bình Chánh</option>
                <option value="17">Huyện Nhà Bè</option>
                <option value="18">Huyện Cần Giờ</option>
              </select>
            </div>


            <div class="patient-format">
                <h5>Danh sách bệnh nhân</h5>
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-sm table-hover table-borderless">
                        <thead class="thead-light">
                            <tr>
                                <th>Tên bệnh nhân</th>
                                <th>Tình trạng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <a href="#">
                                    <td>N.T.Thanh</td>
                                    <td>Đang điều trị</td>
                                </a>
                            </tr>
                            <tr>
                                <a href="#">
                                    <td>N.T.Thanh</td>
                                    <td>Đang điều trị</td>
                                </a>
                            </tr>
                            <tr>
                                <a href="#">
                                    <td>N.T.Thanh</td>
                                    <td>Đang điều trị</td>
                                </a>
                            </tr>
                            <tr>
                                <a href="#">
                                    <td>N.T.Thanh</td>
                                    <td>Đang điều trị</td>
                                </a>
                            </tr>
                            <tr>
                                <a href="#">
                                    <td>N.T.Thanh</td>
                                    <td>Đang điều trị</td>
                                </a>
                            </tr>
                            <tr>
                                <a href="#">
                                    <td>N.T.Thanh</td>
                                    <td>Đang điều trị</td>
                                </a>
                            </tr>
                            <tr>
                                <a href="#">
                                    <td>N.T.Thanh</td>
                                    <td>Đang điều trị</td>
                                </a>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="timeSlider"></div>
    <div id="infoDiv" class="esri-widget">
        <div> <b>USGS Earthquakes</b></div><br/>
        <div id="statsDiv" class="esri-widget"></div>
    </div>
</body>

</htm