<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Quản lí dịch COVID</title>
    <style>
        html,
        body,
        #viewDiv {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }
        
        #timeSlider {
            position: absolute;
            left: 5%;
            right: 5%;
            bottom: 20px;
        }
        
        #titleDiv {
            padding: 10px;
            font-weight: 36;
            text-align: center;
        }
    </style>

    <link rel="stylesheet" href="https://js.arcgis.com/4.15/esri/themes/light/main.css">
    <script src="https://js.arcgis.com/4.15/"></script>
    <script src="../script/location.json"></script>
    <script>
        var map;
        require([
            "esri/Map",
            "esri/views/MapView",
            "esri/layers/FeatureLayer",
            "esri/widgets/TimeSlider",
            "esri/widgets/Expand",
            "esri/widgets/Legend",
            "esri/widgets/Locate"
        ], function(Map, MapView, FeatureLayer, TimeSlider, Expand, Legend, Locate) {

            map = new Map({
                basemap: "topo-vector"
            });

            var view = new MapView({
                container: "viewDiv",
                map: map,
                center: [106.7208948, 10.795437],
                zoom: 8
            });

            var locateBtn = new Locate({
                view: view
            });

            view.ui.add(locateBtn, {
                position: "top-left"
            });



            view.popup.autoOpenEnabled = false; // Disable the default popup behavior

            view.on("click", function(event) { // Listen for the click event
                view.hitTest(event).then(function(hitTestResults) { // Search for features where the user clicked
                    if (hitTestResults.results) {
                        console.log('{"x":"' + event.mapPoint.longitude + '", "y": "' + event.mapPoint.latitude + '", "z":"0" },');
                        view.popup.open({ // open a popup to show some of the results
                            location: event.mapPoint,
                            title: "Lat/Long Results",
                            content: "longitude, latitude: " + event.mapPoint.longitude + ", " + event.mapPoint.latitude
                        });
                    }
                })
            });
        });
    </script>
</head>

<body>
    <div id="viewDiv" style="position: relative;">

        <div style="position: absolute; top: 0; right: 0;">
            <select class="form-select" aria-label="Default select example">
                <option selected>Chọn quận huyện</option>
                <option value="1">Thành phố Thủ Đức</option>
                <option value="2">Quận 9</option>
                <option value="3">Quận 2</option>
              </select>
        </div>
    </div>

</body>

</html>